<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.workout365">
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
    android:id="@android:id/list"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Workout365">

        <activity
            android:name=".FinishedActivity"
            android:exported="false" />
        <activity
            android:name=".RunningRoutine"
            android:exported="false" />
        <activity
            android:name=".EditRoutine"
            android:exported="false" />
        <activity
            android:name=".CreateExercise"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".CustomService"/>

        <provider
            android:name=".data.WorkoutProvider"
            android:authorities="com.example.workout365"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".RemindMeBroadcast" />
    </application>

</manifest>